<?php
    session_start();
    if(!isset($_SESSION["count"])) {
        $_SESSION["count"] = 1;
    } else {
        $_SESSION["count"]++;
    }
?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Lab 09</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">Lab 11 - letm</span>
        </nav>

        <div style="margin-top: 1em;" class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li style="margin-bottom: 1em;">
                            <a href="index.php?cmd=page1">Random Numbers</a>
                        </li>
                        <li style="margin-bottom: 1em;">
                            <a href="index.php?cmd=page2">Images</a>
                        </li>
                        <li style="margin-bottom: 1em;">
                            <a href="index.php?cmd=page3">Input Form</a>
                        </li>
                        <li style="margin-bottom: 1em;">
                            <a href="index.php">Home</a>
                        </li>
                        <li style="margin-bottom: 1em;">
                            <div class="alert alert-primary" role="alert">
                                <?php echo "Visits: ".$_SESSION["count"]; ?>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h1>Home</h1>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Variable</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">HTTP_HOST</th>
                                <td>{{ $host }}</td>
                            </tr>
                            <tr>
                                <th scope="row">HTTP_USER_AGENT</th>
                                <td>{{ $agent }}</td>
                            </tr>
                            <tr>
                                <th scope="row">REMOTE_ADDR</th>
                                <td>{{ $address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">SERVER_SOFTWARE</th>
                                <td>{{ $software }}</td>
                            </tr>
                            <tr>
                                <th scope="row">REQUEST_SCHEME</th>
                                <td>{{ $scheme }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
