.navbar-white {
    background-color: white;
    transition: box-shadow 0.1s ease;
}

.navbar-shadow {
    box-shadow: 0px 1px 10px #777777;
}

.auth-form {
    max-width: 500px;
    margin: 2em auto;
}

.homepage-header {
    background-color: #7fb9dd;
}

.homepage-header__background {
    height: 320px;
    background-image: url("../../static/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-header__image {
    max-height: 280px;
}

.homepage-header__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .homepage-header__background {
        height: 200px;
    }

    .homepage-header__image {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #sidebar {
        display: block;
    }
}

.btn-outline:focus {
    box-shadow: 0 0 0 0.2rem rgba(63, 133, 179, 0.5) !important;
    color: white;
    background-color: #3f85b3;
}

.btn-outline:hover {
    color: white;
    background-color: #3f85b3;
}

.btn-fill:hover {
    color: white;
    background-color: #29709b;
}

.btn-fill:focus {
    box-shadow: 0 0 0 0.2rem rgba(63, 133, 179, 0.5) !important;
    color: white;
    background-color: #3f85b3;
}

.btn-fill {
    color: white;
    background-color: #3f85b3;
}

.dropdown-item:active {
    color: white;
    background-color: #3f85b3;
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
}

.project-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    transition: box-shadow 0.2s ease;
}

.project-item:hover {
    border: none;
    margin: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-item__image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: lightgray;
}

@media only screen and (max-width: 768px) {
    .project-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        cursor: pointer;
    }

    .project-item:hover {
        box-shadow: none;
        margin: 0;
    }

    .project-item__image {
        width: 60px;
        height: 60px;
        background-color: white;
    }
}

.project-item__small {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
}

.project-item__small__image {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.project-item__body {
    padding: 8px 16px;
}

.project-item__title {
    font-weight: bold;
    font-size: small;
    margin: 0;
}

.project-item__text {
    font-size: small;
    margin: 0;
}

.sidebar-item {
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #eeeeee;
}

.sidebar-item__selected {
    background-color: #3f85b3 !important;
    color: white;
}
